<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Bike Rental Service</title>
    <style>
    
    </style>
</head>
<body>
    <h1>A Bike Rental Service</h1>
    <div>
        {% for f in f_objects %}
            <h1>{{f.Model}}</h1>
            <ul>
                <ol>{{f.Daily_fee}}</ol>
                <ol>{{f.Year}}</ol>
                <ol>{{f.text_description}}</ol>
                <ol><img src="{{f.Image}}" alt="{{f.Model}}"></ol>
            </ul>
        {% endfor %}
        <a href="http://127.0.0.1:5000/new_bike">Add New bike</a>
    </div>

</body>
</html>