<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="from" method="POST">
        <div class="main">
            <p class="Frist">
                <input type="text" name="Frist" id="Frist" placeholder="e.g.Honda">
                <label for="Frist name">Frist name</label>
            </p>
            <p class="last">
                <input type="text" name="last" id="last" placeholder="1000">
                <label for="last">last name</label>
            </p>
            <p class="mailOrTelephone">
                <input type="text" name="mailOrTelephone" id="mailOrTelephone" placeholder="Số điện thoại hoặc Email">
            </p>
            <p class="NewPassWord">
                <input type="password" name="NewPassWord" id="NewPassWord" placeholder="Mật khẩu mới">
            </p>
            <p class="date">
                <input type="date">
            </p>
            <p>
            <label><input type="radio" name="Male-female">Name</label>
            <label><input type="radio" name="Male-female">Nữ</label><br>
            </p>
            <p class="submit">
                <input type="submit" value="submit">
            </p>
        </div>
    </form>
</body>
</html>