<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
</head>
<body>
	{% for f in user %}
		{% if username == f.username  and password == f.password %}
			<h1>Login in successfully</h1>
			<a href="http://127.0.0.1:5000/new_bike">create new bike</a>
		{% else %}
			<h1>Login failed</h1>
			<a href="http://127.0.0.1:5000/Register">created new</a>
		{% endif %}
	{% endfor %}
</body>
</html>